.Card-body {
    display: flex;
    padding: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.Card-social-icon {
    width: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.need-approval-color {
    background-color: #f7bf38;
}

.scheduled-color{
    background-color: #3ac183;
}

.published-color ,
.publishing-color {
    background-color: #acacac;
}

.error-color {
    background-color: #fb6450;
}

.Card-social-icon i {
    font-size: 20px;
    color: white;
}


.Card-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Card-date {
    display: flex;
    justify-content: space-between;
}

.Card-date p {
    margin: 10px;
}

.Card-date ul {
    margin: 10px;
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

.Card-post-body {
    text-align: left;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #959595;

}

.Card-post-img {
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
}

.Card-under-img-icons {
    margin: 10px 0;
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: space-around;
    padding: 0;
}
