.Layout {
    overflow:hidden;
}

.Layout-sidebar-logo {
    height: 50px;
    opacity: 0.9;
    background-color: #31363b;
}

.side-bar {
    min-height: 100vh;
}

.Layout-sidebar-logo img {
    margin-top: 10px;
}

.Layout-tabs-area {
    background-color: #2a2f33;
}

.Layout-btns-area {
    background-color: #393d42 ;
}


/* Content Area */
.Layout-profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 25px;
    margin-top: 20px;
    cursor: pointer;
}
.Layout-status-menu {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 5px;
    list-style: none;

}

.Layout-status-menu p {
    margin: 15px;
    font-size: 15px;
    text-transform: capitalize;
    color: #444444;
}


.Layout-status-list-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


/* Cards Area */
.Layout-Cards-area {
    margin-left: 20px;
}