.Layout {
    height: 50vw;
    overflow:hidden;
}


.Layout-sidebar-logo {
    height: 50px;
}

.Layout-sidebar-logo img {
    margin-top: 10px
}

.Layout-tabs-area {
    background-color: #2a2f33;
}

.Layout-btns-area {
    background-color: #393d42 ;
}
