.Sections-title-date {
    color: #afafaf;
    text-transform: capitalize;
    text-align: left;
    font-size: 22px;
    margin: 5px 0;
    padding: 0 5px;
}

.Card-main {
    width: 316px;
    height: 385px;
    margin-bottom: 30px;
}