.Tabs {
    display: flex;
    justify-content: space-between;
}

.Tabs-img {
    margin: 5px auto;
    position: relative;
    display: flex;
    align-items: center;
}

.Tabs-img img {
    width: 45px;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.tabClicked {
    opacity: 1;
    padding: 0;
}

.Tabs-notCliked {
    opacity: 0.5;
}


/* Hidden Div */
.Tabs-hidden {
    background-color: #f55661;
    width: 5px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin: 7.5px 0 7.5px 0;
}

.Tabs-div-show {
    opacity: 1;
}

.Tabs-div-hide {
   opacity: 0;
}

/* Notification */
.Tabs-notification-show {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #54c9b4;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    margin-top: -2px;
    font-size: 12px;
    z-index: 1;
}

.Tabs-notification-hide {
    display: none;
}